header {
    background-color: #e090ca;
    color: #1b0c0c;
    padding: 10px 0;
    }
    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        }
        nav li {
        margin: 0 65px;
        }
        nav a {
        text-decoration: none;
        color: #fff;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            }
            img {
            max-width: 100%;
            }
            footer {
            text-align: center;
            padding: 10px;
            background-color: #333;
            color: #fff;
            }
            CSS in
            External
            File
            